@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&family=Source+Sans+Pro&family=Fira+Code:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

pre,
span.token.string,
span.token.keyword,
span.token.builtin,
span.token.punctuation {
  @apply font-mono;
}

.line-number {
  font-family: "Fira Code", monospace;
  color: #aaa;
  user-select: none;
  -moz-user-select: none;
}
.line-code {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.comment-box {
  grid-area: right;
}

.line-content {
  align-items: center;
  height: 100%;
  flex-grow: 1;
  padding-right: 25px;
}

.selected {
  background-color: #2f405d;
}

.comment-box form {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.comment-box textarea {
  resize: none;
  padding: 0px 0px 0px 5px;
  background-color: #020617;
  border-color: #64748b;
  color: #f1f5f9;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.comment-box text-area:focus {
  border-color: blue;
  border-width: 2px;
}
.comment-box textarea::placeholder {
  color: #f1f5f9bb;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

tr {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-left: 25px;
}

td {
  padding: 0;
  margin: 0;
}
